<% if (locals.error && error.length > 0) { %>
    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4 rounded-lg" role="alert">
        <p class="font-bold">Please correct the following errors:</p>
        <ul class="list-disc ml-5 mt-2 text-sm">
            <% error.forEach(function(err) { %>
                <li><%= err %></li>
            <% }); %>
        </ul>
    </div>
<% } %>

<% if (locals.success_msg && success_msg.length > 0) { %>
    <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4 rounded-lg" role="alert">
        <p><%= success_msg %></p>
    </div>
<% } %>